@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@layer utilities {
	.scrollbar {
		scrollbar-width: thin;
		scrollbar-color: theme("colors.ctp-surface1") theme("colors.ctp-base");
	}

	.scrollbar::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	.scrollbar::-webkit-scrollbar-track {
		background: theme("colors.ctp-base");
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: theme("colors.ctp-surface1");
		border-radius: 4px;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: theme("colors.ctp-surface2");
	}
}
